@charset "UTF-8";
.clearb {
  display: none; }

.dark-bg {
  position: relative;
  z-index: 2; }
  .dark-bg::before {
    content: "";
    /* Делаем элемент блочным */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; }

a {
  text-decoration: none;
  color: black; }

img {
  max-width: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

input:focus, button:focus {
  outline: none; }

p {
  margin: 10px 0; }

input {
  font-family: Roboto;
  font-size: 14px; }

h4 {
  margin: 0; }

@-webkit-keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -200px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    opacity: 1;
    margin-bottom: 0;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -200px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    opacity: 1;
    margin-bottom: 0;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.header {
  padding: 20px 0 15px 0;
  background-color: #fff; }
  .header-logo {
    background: url(../img/header-logo.png) center no-repeat;
    background-size: 100%;
    width: 191px;
    height: 61px; }
  .header-contacts {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-contacts__phone {
      margin-right: 13px;
      font-size: 22px; }
      .header-contacts__phones {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header-contacts__phone:first-child {
        border-right: 1px	solid #cfcfd0;
        padding-right: 13px; }

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fd9c28;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    background-color: #fda841;
    cursor: pointer; }
  .button img {
    vertical-align: middle; }
  .button_big {
    padding-top: 18px;
    padding-bottom: 18px;
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    color: #373737;
    border: 1px solid rgba(55, 55, 55, 0.5); }
    .button-o:hover {
      background-color: #fda841;
      color: #ffffff;
      border: 1px solid transparent;
      cursor: pointer; }

.phone {
  margin-right: 7px; }

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main-bg2.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
  /* Оформление главной картинки */
  /* Заголовок */ }
  .main-img {
    position: relative; }
    .main-img::before {
      content: '';
      position: absolute;
      z-index: -5;
      width: 390px;
      height: 390px;
      left: 50%;
      margin-left: -160px;
      border: 1px solid #ffffff;
      border-radius: 50%; }
    .main-img::after {
      content: url(../img/rostest.png);
      position: absolute;
      z-index: 2;
      width: 60px;
      height: 50px;
      margin-left: 86px;
      margin-top: -43px; }
  .main-text__title {
    margin-bottom: 7px;
    font-size: 41px;
    font-weight: 700;
    line-height: 1.1; }
  .main-text__subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px; }
  .main-text__form {
    padding: 30px 27px;
    background-color: rgba(255, 255, 255, 0.2); }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px; }
  .form-title {
    padding-right: 87px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 14px; }
    .form-title__important {
      font-weight: 700;
      text-transform: uppercase;
      display: block; }
  .form__input1 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%; }
  .form__input {
    margin-right: 10px;
    padding: 20px 20px;
    border-radius: 4px;
    border: none;
    vertical-align: middle;
    font-size: 14px; }
  .form-small {
    font-size: 14px;
    font-weight: 300;
    margin-left: 19px; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .popup {
    position: fixed;
    left: 50%;
    top: 100px;
    width: 750px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff; }
    .overlay .popup-close {
      position: absolute;
      right: -18px;
      top: -33px;
      font-size: 34px;
      color: #fff;
      font-weight: 300;
      cursor: pointer; }
    .overlay .popup-title {
      display: block;
      width: 100%;
      min-height: 68px;
      margin: 0;
      background-color: #ff9d00;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 68px;
      font-size: 21px;
      font-weight: 500;
      text-align: center; }
    .overlay .popup-form {
      background: url(../img/bg-mini.png) center no-repeat;
      background-size: cover;
      padding: 35px 88px 38px 85px;
      color: #ffffff; }
      .overlay .popup-form-header {
        width: 576px;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-align: center; }
        .overlay .popup-form-header span {
          font-size: 24px; }
      .overlay .popup-form__label {
        display: block;
        margin-top: 16px;
        margin-right: -13px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .overlay .popup-form__input {
        width: 365px;
        height: 56px;
        margin-top: 13px;
        margin-left: -17px;
        padding: 0 18px;
        border-radius: 3px;
        border: none; }
      .overlay .popup-form__btn {
        width: 180px;
        height: 56px;
        margin-left: 9px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        background-color: #ff9d00; }
      .overlay .popup-form__note {
        margin-top: 2px;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        text-align: center; }

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 25px; }
  .features-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .features-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    background-color: #fff;
    padding: 28px 19px;
    margin-bottom: 30px; }
    .features-block__img {
      text-align: center;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      margin-bottom: 9px;
      margin-right: 4px; }
    .features-block__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 5px; }
    .features-block__descr {
      font-size: 14px;
      font-weight: 300;
      line-height: 19px; }

.numbers {
  text-align: center; }
  .numbers-block {
    margin-bottom: 37px;
    display: inline-block;
    width: 33%;
    vertical-align: top; }
    .numbers-block__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: 900;
      color: #fd9c28; }
      .numbers-block__title sup {
        font-size: 14px; }
    .numbers-block__text {
      font-size: 16px;
      font-weight: 400; }

.products {
  padding-top: 35px;
  padding-bottom: 38px; }
  .products-block {
    margin-bottom: 35px;
    text-align: center; }
    .products-block__img {
      width: auto;
      height: 279px;
      overflow-y: hidden;
      margin-bottom: 16px; }
    .products-block__title {
      font-size: 20px;
      margin-bottom: 28px;
      font-weight: 500; }
    .products-block__button {
      font-size: 15px;
      font-weight: 400;
      line-height: 23.47px;
      color: rgba(55, 55, 55, 0.5);
      margin-right: 8px;
      padding: 12px	24px 11px 24px; }
      .products-block__button__2 {
        font-size: 15px;
        font-weight: 400;
        line-height: 23.47px;
        padding: 12px	28px 11px 24px; }
    .products-block__buttons {
      margin-right: 12px; }

.products-block__img_marb {
  margin-top: 24px; }

.products-block__title__mg {
  margin-top: -24px; }

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px; }
  .section-title::after {
    content: '';
    margin-top: 12px;
    display: block;
    height: 6px;
    background: url(../img/line.png) center no-repeat; }

.buyers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .buyers-bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .buyers-block {
      border-radius: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 212px;
      height: 130px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      margin-bottom: 61px;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .buyers-block:hover {
        -webkit-filter: none;
        filter: none; }
      .buyers-block__img {
        margin: auto; }

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: #ffffff;
  background: grey url(../img/offer-bg.png) center no-repeat;
  background-size: cover;
  text-align: center; }
  .offer-title {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400; }
    .offer-title_small {
      font-size: 26px;
      display: block;
      margin-bottom: 20px;
      font-weight: 400; }
  .offer-form-small {
    font-size: 14px;
    font-weight: 300;
    margin-left: 0; }
  .offer-form__label {
    display: block;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 300; }
  .offer-form__input {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 12px;
    width: 365px; }
  .offer-form__button {
    margin-bottom: 6px;
    font-size: 15px;
    padding: 18px 29px; }

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 40;
  height: 78px;
  width: 22px; }
  .slider-arrow_prod {
    border: 1px solid #fd9c28; }
  .slider-arrow:hover {
    cursor: pointer; }
  .slider-arrow_right {
    right: 0;
    background: #fff url(../img/arrow-right.png) center no-repeat; }
    .slider-arrow_right:hover {
      background: #fd9c28 url(../img/arrow-right_active.png) center no-repeat; }
  .slider-arrow_left {
    left: 0;
    background: #fff url(../img/arrow-left.png) center no-repeat; }
    .slider-arrow_left:hover {
      background: #fd9c28 url(../img/arrow-left_active.png) center no-repeat; }

.production {
  padding-top: 87px;
  padding-bottom: 73px; }
  .production-text {
    max-width: 380px; }
    .production-text__title {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: -20%;
      margin-top: 19px;
      margin-bottom: 28px;
      padding-left: 16%;
      width: 432px;
      z-index: -1;
      color: #ffffff;
      background-color: #fd9c28;
      font-size: 28px;
      font-weight: 300; }
    .production-text__descr {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: justify; }
  .production-slider {
    position: relative;
    z-index: 3; }
    .production-slider_top {
      margin-bottom: 13px;
      height: 387px;
      overflow-y: hidden; }
      .production-slider_top img {
        height: 380px;
        overflow-y: hidden;
        width: 320px;
        overflow-x: hidden; }
    .production-slider_bottom {
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      height: 78px;
      overflow-y: hidden; }
      .production-slider_bottom img {
        margin: 0 3px 0 3px; }

.subslider-div {
  overflow: hidden;
  height: auto;
  float: left;
  position: relative; }
  .subslider-div_img {
    max-height: 180px; }

.blur-div {
  margin: auto 3px;
  width: 144px;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px; }

.slick-current .blur-div {
  background: transparent; }

.production-wrapper {
  padding-left: 14px; }

.feedback {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 66px;
  background-color: #f4f4f4; }
  .feedback-slider__img img {
    margin: 0 auto;
    width: 274px;
    height: 377px; }

.slider-arrow-feedback {
  position: absolute;
  top: 38%;
  z-index: 40;
  height: 100%; }
  .slider-arrow-feedback:hover {
    cursor: pointer; }
  .slider-arrow-feedback_left {
    left: -4px;
    z-index: 40;
    position: absolute;
    height: 79px;
    width: 22px;
    background: url(../img/feedback/arrow-left_feed.png) center no-repeat; }
  .slider-arrow-feedback_right {
    right: -4px;
    z-index: 40;
    position: absolute;
    height: 79px;
    width: 22px;
    background: url(../img/feedback/arrow-right_feed.png) center no-repeat; }

.contacts {
  position: relative; }
  .contacts-title {
    display: none; }
  .contacts-block {
    z-index: 40;
    position: absolute;
    left: 10%;
    top: 14%;
    background-color: #fff;
    padding-top: 22px;
    padding-bottom: 9px;
    padding-right: 37px; }
    .contacts-block__mail {
      margin-top: -4px; }
    .contacts-block__button {
      margin-top: -7px; }
    .contacts-block__title {
      display: block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      margin-top: 8px; }
    .contacts-block__text {
      padding-left: 62px;
      margin-bottom: 26px; }

.img11 {
  float: left;
  margin-left: 33px;
  margin-top: 13px; }

.img22 {
  float: left;
  margin-left: 34px;
  margin-top: 4px; }

.img33 {
  float: left;
  margin-left: 33px; }

.map {
  width: 100%;
  height: 550px;
  z-index: -1; }

.footer {
  height: 88px;
  width: 100%;
  background-color: #1b1b1b; }
  .footer-text {
    margin-top: auto;
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    vertical-align: middle;
    padding-top: 36px; }

@media (max-width: 576px) {
  .section-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px; }
  .map {
    margin: 0	3% 10px;
    text-align: center;
    width: 94%;
    height: 550px;
    z-index: -1; }
  .contacts {
    position: relative; }
    .contacts-title {
      display: inline;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .contacts-block {
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      background-color: #fff;
      padding-top: 33px;
      padding-bottom: 0px;
      padding-right: 0; }
      .contacts-block__mail {
        margin-top: -4px;
        margin-bottom: -13px; }
      .contacts-block__button {
        margin-top: -7px; }
      .contacts-block__title {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: 13px; }
      .contacts-block__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 0;
        margin-bottom: 26px; }
  .footer {
    height: 88px;
    width: 100%;
    background-color: #1b1b1b; }
    .footer-text {
      margin-top: auto;
      text-align: center;
      opacity: 0.5;
      color: #ffffff;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
      line-height: 17px;
      vertical-align: middle;
      padding-top: 38px; }
  .img11 {
    display: none; }
  .img22 {
    display: none; }
  .img33 {
    display: none; }
  .feedback {
    padding-top: 14px;
    padding-bottom: 42px;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0 auto; }
    .feedback-slider {
      width: 274px;
      height: 377px;
      margin: 0 auto;
      text-align: center; }
      .feedback-slider__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow-x: hidden; }
        .feedback-slider__img img {
          padding-left: 2px;
          padding-right: 2px;
          width: 100%;
          height: auto; }
  .slider-arrow-feedback {
    position: absolute;
    top: 38%;
    z-index: 40;
    height: 100%;
    width: 22px; }
    .slider-arrow-feedback:hover {
      cursor: default; }
    .slider-arrow-feedback_left {
      left: -11px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: #fd9c28 url(../img/arrow-left_active.png) center no-repeat; }
    .slider-arrow-feedback_right {
      right: -9px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: #fd9c28 url(../img/arrow-right_active.png) center no-repeat; }
  .slider-arrow {
    position: absolute;
    top: 38%;
    z-index: 40;
    height: 100%; }
    .slider-arrow:hover {
      cursor: default; }
    .slider-arrow_left {
      left: 0;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: #fd9c28 url(../img/arrow-left_active.png) center no-repeat; }
    .slider-arrow_right {
      right: 0;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: #fd9c28 url(../img/arrow-right_active.png) center no-repeat; }
  .production-slider_top_img, .slick-slide, .slick-current, .slick-active {
    overflow-y: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto; }
  .blur-div {
    display: none; }
  .production {
    overflow-x: hidden;
    z-index: 1;
    padding-top: 87px;
    padding-bottom: 90px;
    padding-top: 0px;
    padding-bottom: 0px; }
    .production-wrapper {
      z-index: 1;
      padding-left: auto; }
    .production-text {
      max-width: 576px;
      margin-bottom: 22px; }
      .production-text__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 13px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        margin-bottom: 14px;
        padding-left: 0;
        width: 124%;
        left: -12%;
        z-index: 1; }
      .production-text__descr {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: justify;
        text-align-last: center; }
    .production-slider_top {
      margin: 0 auto;
      overflow-y: hidden;
      height: 360px; }
      .production-slider_top_img {
        height: 360px;
        overflow-y: hidden;
        width: 320px;
        overflow-x: hidden;
        margin: 0 auto; }
    .production-slider_bottom {
      display: none;
      padding-left: 30px;
      padding-right: 30px;
      height: 78px;
      overflow-y: hidden; }
      .production-slider_bottom img {
        min-width: 20%;
        max-height: 500px;
        display: none;
        margin: 0 3px 0 3px; }
  .hidden-mobile {
    display: none; }
  .header {
    background-color: #f4f4f4;
    padding: 10px 0 11px 0; }
    .header-logo {
      background: #fd9c28 url(../img/logo-mobile.png) center no-repeat;
      width: 35px;
      height: 35px;
      border-radius: 3px; }
    .header-contacts__phone {
      font-size: 14px;
      margin-right: 0; }
      .header-contacts__phones {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .header-contacts__phone:first-child {
        border-right: none; }
    .header-contacts__button {
      display: inline-block;
      width: 35px;
      height: 35px;
      padding: 7px; }
  .main {
    padding-top: 28px;
    text-align: center; }
    .main-text__title {
      font-size: 22px;
      color: #fd9c28;
      margin-bottom: 6px; }
    .main-text__subtitle {
      font-size: 18px;
      margin-bottom: 25px; }
    .main-text__form {
      background-color: transparent;
      padding: 10px; }
  .form {
    margin-top: 5px;
    margin-bottom: 0;
    display: block; }
    .form-title {
      align-text: center;
      width: 105%;
      margin-left: -3%;
      padding-right: 0;
      font-size: 15px;
      line-height: 1.3;
      margin-bottom: 0; }
      .form-title__important {
        margin-top: 6px; }
    .form__input {
      font-size: 13px;
      font-weight: 300;
      text-align: center;
      width: 270px;
      height: 47px;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 1px;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .form-small {
      margin-left: 0;
      font-size: 13px;
      font-weight: 300;
      line-height: 30px; }
  .button_big {
    margin-top: 12px;
    margin-bottom: 7px;
    padding: 16px 32px 16px 32px; }
    .text_b {
    font-weight: 900; }
  .text_a {
    font-weight: 400; }
  .overlay {
    text-align: center;
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4); }
    .overlay .popup {
      text-align: center;
      position: fixed;
      left: 50%;
      top: 65px;
      width: 280px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #ffffff; }
      .overlay .popup-close {
        position: absolute;
        right: -18px;
        top: -33px;
        font-size: 34px;
        color: #fff;
        font-weight: 300;
        cursor: pointer; }
      .overlay .popup-title {
        display: block;
        width: 100%;
        min-height: 68px;
        margin: 0;
        background-color: #ff9d00;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 68px;
        font-size: 17px;
        font-weight: 500;
        text-align: center; }
      .overlay .popup-form {
        background: url(../img/bg-mini.png) center no-repeat;
        background-size: cover;
        padding: 4px;
        color: #ffffff;
        text-align: center; }
        .overlay .popup-form-header {
          display: inline-block;
          margin-top: 10px;
          width: 250px;
          padding: 0;
          font-size: 19px;
          font-weight: 300;
          line-height: 27px;
          text-align: center; }
          .overlay .popup-form-header span {
            font-size: 16px; }
        .overlay .popup-form__label {
          display: block;
          margin-top: 16px;
          margin-right: 0;
          font-size: 17px;
          font-weight: 300;
          line-height: 30px;
          text-align: center;
          margin-top: 10px; }
        .overlay .popup-form__input {
          text-align: center;
          display: block;
          width: 220px;
          height: 56px;
          margin-top: 13px;
          margin-left: 0;
          border-radius: 3px;
          border: none;
          margin: 15px auto; }
        .overlay .popup-form__btn {
          display: block;
          width: 180px;
          height: 56px;
          margin-left: 0;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          background-color: #ff9d00;
          margin: 0 auto; }
        .overlay .popup-form__note {
          display: block;
          margin-top: 2px;
          margin-left: 0px;
          font-size: 14px;
          font-weight: 300;
          line-height: 30px;
          text-align: center; }
  .numbers-block {
    margin-bottom: 24px;
    width: 98%; }
    .numbers-block__title {
      font-size: 30px; }
      .numbers-block__title sup {
        font-size: 14px; }
    .numbers-block__text {
      font-weight: 400;
      line-height: 18px;
      font-size: 14px; }
  .features {
    padding-top: 24px;
    padding-bottom: 30px; }
    .features-blocks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%; }
    .features-block {
      max-width: 290px;
      height: 113px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      background-color: #fff;
      padding: 28px 19px;
      margin-bottom: 8px; }
      .features-block__img {
        margin-left: -5px;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        margin-bottom: 9px;
        margin-right: 12px;
        text-align: center; }
      .features-block__descr {
        line-height: 18px; }
  .products {
    padding-top: 0;
    padding-bottom: 8px; }
    .products-block__img {
      width: 308px;
      height: 209px; }
      .products-block__img_marb {
        margin-top: -4px; }
    .products-block__title {
      margin-bottom: 17px;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px; }
      .products-block__title__mg {
        margin-top: -50px; }
    .products-block__buttons {
      margin-right: 0; }
    .products-block__button {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding: 11px 22px 11px 23px;
      margin-right: 4px; }
    .products-block__button__2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding: 11px 25px 11px 23px; }
  .section-title {
    margin-top: 32px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px; }
    .section-title::after {
      display: none; }
  .buyers {
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 34px;
    margin-bottom: 23px; }
    .buyers-title {
      margin-bottom: 12px; }
    .buyers-bloc {
      margin: auto;
      padding: 0;
      max-width: 50%; }
      .buyers-block {
        margin: 5px 5px;
        height: 87px;
        -webkit-filter: none;
        filter: none;
        cursor: none;
        max-width: 143px;
        max-height: 87px; }
        .buyers-block__img {
          text-align: center;
          max-width: 90%;
          max-height: 77%; }
  .clients-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0; }
  .offer {
    padding-top: 45px;
    padding-bottom: 41px;
    color: #ffffff;
    background: grey url(../img/offer-bg.png) center no-repeat;
    background-size: cover;
    text-align: center; }
    .offer-title {
      font-size: 20px;
      font-weight: 700; }
      .offer-title_small {
        margin-top: 8px;
        font-size: 16px;
        display: block;
        font-weight: 400;
        margin-bottom: 22px; }
    .offer-form-small {
      font-size: 13px;
      line-height: 30px;
      margin-left: 0; }
    .offer-form__label {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 30px; }
    .offer-form__input {
      font-size: 13px;
      font-weight: 300;
      line-height: 42px;
      text-align: center;
      display: block;
      margin: auto;
      margin-bottom: 13px;
      width: 290px;
      height: 47px; }
    .offer-form__button {
      margin-bottom: 8px;
      padding: 15px 28px; } }

@media (min-width: 577px) and (max-width: 767px) {
  .map {
    margin: 0 2% 14px;
    width: 96%;
    height: 550px;
    z-index: -1; }
  .contacts {
    position: relative; }
    .contacts-title {
      display: inline;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .contacts-block {
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      background-color: #fff;
      padding-top: 33px;
      padding-bottom: 0px;
      padding-right: 0; }
      .contacts-block__mail {
        margin-top: -4px;
        margin-bottom: -13px; }
      .contacts-block__button {
        margin-top: -7px; }
      .contacts-block__title {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: 13px; }
      .contacts-block__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 0;
        margin-bottom: 26px; }
  .img11, .img22, .img33 {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    display: none; }
  .feedback {
    padding-top: 55px;
    padding-bottom: 66px;
    background-color: #f4f4f4;
    text-align: center; }
    .feedback-slider {
      width: 274px;
      height: 377px;
      margin: 0 auto; }
      .feedback-slider__img {
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden; }
        .feedback-slider__img img {
          width: 100%;
          height: auto; }
  .slider-arrow_left:hover {
    cursor: default;
    background: #fff url(../img/arrow-left.png) center no-repeat; }
  .slider-arrow_right:hover {
    cursor: default;
    background: #fff url(../img/arrow-right.png) center no-repeat; }
  .slider-arrow-feedback {
    position: absolute;
    top: 38%;
    z-index: 40;
    height: 100%;
    width: 22px; }
    .slider-arrow-feedback:hover {
      cursor: default; }
    .slider-arrow-feedback_left {
      left: -33px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: url(../img/feedback/arrow-left_feed.png) center no-repeat; }
    .slider-arrow-feedback_right {
      right: -33px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: url(../img/feedback/arrow-right_feed.png) center no-repeat; }
  .blur-div {
    margin: auto 3px;
    width: 146px;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px; }
  .production {
    margin-bottom: 73px;
    overflow-x: hidden;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px; }
    .production-wrapper {
      z-index: 1;
      padding-left: auto; }
    .production-text {
      max-width: 576px; }
      .production-text__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 13px;
        text-align: center;
        margin-left: auto;
        margin-top: 28px;
        margin-bottom: 14px;
        padding-left: 0;
        width: 158%;
        left: -29%; }
      .production-text__descr {
        text-align: justify;
        font-size: 14px;
        line-height: 18px; }
    .production-slider_top {
      margin: 0 auto;
      overflow-y: hidden;
      height: 360px; }
      .production-slider_top_img {
        height: 360px;
        overflow-y: hidden;
        width: 320px;
        overflow-x: hidden;
        margin: 0 auto; }
    .production-slider_bottom {
      display: none; }
      .production-slider_bottom img {
        min-width: 20%;
        max-height: 500px;
        display: none;
        margin: 0 3px 0 3px; }
  .hidden-mobile {
    display: none; }
  .header-contacts__button {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 12px; }
  .header-contacts__phone {
    font-size: 17px;
    margin-right: 0; }
    .header-contacts__phones {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header-contacts__phone:first-child {
      border-right: none; }
  .main {
    padding-top: 10px;
    text-align: center; }
    .main-text__title {
      font-size: 40px;
      color: #fd9c28; }
  .button_big {
    padding: 20px 34px 20px 34px; }
  .form {
    margin-bottom: 0;
    display: block; }
    .form-small {
      margin-left: 0;
      font-weight: 300; }
    .form-title {
      padding-right: 0;
      align-text: center;
      margin-bottom: 10px; }
    .form__input {
      margin-bottom: 10px;
      margin-top: 10px;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .overlay {
    text-align: center;
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4); }
    .overlay .popup {
      text-align: center;
      position: fixed;
      left: 50%;
      top: 100px;
      width: 530px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #ffffff; }
      .overlay .popup-close {
        position: absolute;
        right: -18px;
        top: -33px;
        font-size: 34px;
        color: #fff;
        font-weight: 300;
        cursor: pointer; }
      .overlay .popup-title {
        display: block;
        width: 100%;
        min-height: 68px;
        margin: 0;
        background-color: #ff9d00;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 68px;
        font-size: 21px;
        font-weight: 500;
        text-align: center; }
      .overlay .popup-form {
        background: url(../img/bg-mini.png) center no-repeat;
        background-size: cover;
        padding: 35px 85px 38px 85px;
        color: #ffffff;
        text-align: center; }
        .overlay .popup-form-header {
          display: inline-block;
          width: 350px;
          padding: 0;
          font-size: 24px;
          font-weight: 300;
          line-height: 24px;
          text-align: center; }
          .overlay .popup-form-header span {
            font-size: 20px; }
        .overlay .popup-form__label {
          display: block;
          margin-top: 16px;
          margin-right: 0;
          font-size: 21px;
          font-weight: 300;
          line-height: 30px;
          text-align: center; }
        .overlay .popup-form__input {
          display: block;
          width: 265px;
          height: 56px;
          margin-top: 13px;
          margin-left: 0;
          border-radius: 3px;
          border: none;
          margin: 10px auto; }
        .overlay .popup-form__btn {
          display: block;
          width: 180px;
          height: 56px;
          margin-left: 0;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          background-color: #ff9d00;
          margin: 0 auto; }
        .overlay .popup-form__note {
          display: block;
          margin-top: 2px;
          margin-left: 0px;
          font-size: 14px;
          font-weight: 300;
          line-height: 30px;
          text-align: center; }
  .numbers {
    text-align: center; }
    .numbers-block {
      margin-bottom: 40px;
      display: inline-block;
      width: 100%;
      vertical-align: top; }
      .numbers-block__title {
        font-size: 31px; }
        .numbers-block__title sup {
          font-size: 14px; }
      .numbers-block__text {
        font-size: 15px; }
  .products {
    padding-bottom: 38px; }
    .products-block__title__mg {
      margin-top: -50px; }
    .products-block__buttons {
      margin-right: 0; }
    .products-block__button {
      margin-right: 3px; }
  .features {
    background-color: #f4f4f4;
    padding-top: 49px;
    padding-bottom: 26px; }
    .features-blocks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%; }
    .features-block {
      min-width: 380px;
      height: 113px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      background-color: #fff;
      padding: 28px 13px;
      margin-bottom: 12px; }
      .features-block__img {
        width: 56px;
        height: 57px;
        margin-left: 9px;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        margin-bottom: 3px;
        margin-right: 0px;
        text-align: center; }
  .offer-form__label {
    font-size: 17px;
    font-weight: 400; }
  .offer-title {
    font-size: 21px;
    font-weight: 700; }
    .offer-title_small {
      font-size: 17px;
      margin-top: 8px; }
  .buyers-block {
    cursor: none;
    -webkit-filter: none;
    filter: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .map {
    margin: 0 2% 14px;
    width: 96%;
    height: 550px;
    z-index: -1; }
  .contacts {
    position: relative; }
    .contacts-title {
      display: inline;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .contacts-block {
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      background-color: #fff;
      padding-top: 33px;
      padding-bottom: 0px;
      padding-right: 0; }
      .contacts-block__mail {
        margin-top: -4px;
        margin-bottom: -13px; }
      .contacts-block__button {
        margin-top: -7px; }
      .contacts-block__title {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: 13px; }
      .contacts-block__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-left: 0;
        margin-bottom: 26px; }
  .img11, .img22, .img33 {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    display: none; }
  .slider-arrow_left:hover {
    cursor: default;
    background: #fff url(../img/arrow-left.png) center no-repeat; }
  .slider-arrow_right:hover {
    cursor: default;
    background: #fff url(../img/arrow-right.png) center no-repeat; }
  .feedback-slider__img {
    width: 220px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden; }
    .feedback-slider__img img {
      overflow-y: hidden;
      overflow-x: hidden;
      height: 300px;
      width: 220px;
      text-align: center; }
  .slider-arrow-feedback {
    position: absolute;
    top: 38%;
    z-index: 40;
    height: 100%;
    width: 22px; }
    .slider-arrow-feedback:hover {
      cursor: default; }
    .slider-arrow-feedback_left {
      left: -22px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: url(../img/feedback/arrow-left_feed.png) center no-repeat; }
    .slider-arrow-feedback_right {
      right: -22px;
      z-index: 40;
      height: 79px;
      width: 22px;
      background: url(../img/feedback/arrow-right_feed.png) center no-repeat; }
  .blur-div {
    margin: auto 3px;
    width: 158px;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px; }
  .production {
    z-index: 1;
    overflow-x: hidden;
    padding-top: 87px;
    padding-top: 0px;
    padding-bottom: 0px; }
    .production-wrapper {
      z-index: 1;
      padding-left: auto; }
    .production-text {
      max-width: 991px; }
      .production-text__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 13px;
        text-align: center;
        padding-bottom: 20px;
        margin: 28px auto 14px auto;
        padding-left: 0;
        width: 150%;
        left: -25%; }
      .production-text__descr {
        font-size: 14px;
        line-height: 18px; }
    .production-slider_bottom {
      margin-bottom: 73px; }
    .production-slider_top {
      margin: 0 auto;
      overflow-y: hidden;
      height: 370px; }
      .production-slider_top_img {
        height: 370px;
        overflow-y: hidden;
        width: 320px;
        overflow-x: hidden;
        margin: 0 auto; }
    .production-slider_bottom {
      display: none;
      padding-left: 30px;
      padding-right: 30px;
      height: 78px;
      overflow-y: hidden; }
      .production-slider_bottom img {
        min-width: 20%;
        max-height: 500px;
        display: none;
        margin: 0 3px 0 3px; }
  .hidden-mobile {
    display: none; }
  .header {
    padding-top: 20px;
    padding-top: 10px;
    text-align: center; }
    .header-contacts__button {
      display: inline-block;
      width: 45px;
      height: 45px;
      padding: 12px; }
    .header-contacts__phone {
      font-size: 19px; }
    .header-text__title {
      font-size: 40px; }
  .main {
    padding-top: 10px;
    text-align: center; }
    .main-text__title {
      font-size: 40px;
      color: #fd9c28; }
  .form {
    margin-bottom: 12px; }
    .form-title {
      padding-right: 0;
      align-text: center; }
    .form__input {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .button_big {
    padding: 20px 34px 20px 34px;
    margin-left: 10px; }
  .form {
    display: block;
    margin-bottom: 10px; }
    .form__input {
      margin-right: 0; }
    .form-small {
      margin-left: 0; }
  .offer-form__input {
    margin-right: auto; }
  .overlay .popup {
    width: 720px; }
  .numbers-block {
    margin-bottom: 40px;
    display: inline-block;
    width: 32.95%;
    vertical-align: top; }
    .numbers-block__title {
      font-size: 31px; }
      .numbers-block__title sup {
        font-size: 14px; }
    .numbers-block__text {
      font-size: 15px; }
  .features {
    background-color: #f4f4f4;
    padding-top: 49px;
    padding-bottom: 30px; }
    .features-blocks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%; }
    .features-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
      background-color: #fff;
      padding: 28px 19px 28px 19px;
      margin-bottom: 30px; }
      .features-block__img {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        margin-bottom: 9px;
        margin-right: 9px;
        text-align: center; }
  .products {
    padding-bottom: 38px;
    padding-top: 57px; }
    .products-block {
      margin-bottom: 35px;
      text-align: center; }
      .products-block__img {
        width: 331px;
        height: 221px;
        margin-bottom: 19px; }
      .products-block__title__mg {
        margin-bottom: 52px; }
      .products-block__title__mb {
        margin-top: 0;
        margin-bottom: 28px; }
      .products-block__buttons {
        margin-right: 12px; }
  .buyers-block {
    cursor: default;
    -webkit-filter: none;
    filter: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .form__input {
    -ms-flex-preferred-size: 64%;
    flex-basis: 64%; }
  .main-img {
    width: 110%;
    left: -8%; }
    .main-img::before {
      width: 354px;
      height: 354px;
      left: 54%; }
    .main-img::after {
      width: 60px;
      height: 50px;
      right: 67; }
  .features-block__img {
    text-align: center;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin-right: 20px; }
  .blur-div {
    margin: auto 3px;
    width: 157px;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px; } }
